/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* CUSTOM COLOURS FOR GF WEBPAGE*/
  --clr-friend-theme-nav: #57d3e1;
  --clr-friend-theme: #dd5151ee;
  --clr-nav-top:  hsl(0, 63%, 75%);
  --clr-custom-bg: #e2c6c6;
  --clr-title: #FFDDDD;
  --clr-nav-button-hover: #ffdddd76;
  --clr-title-shadow: #a79090;

  /*nav bar colours for each page*/
  --clr-nav-jayde: #d8a97a;
  --clr-nav-def: hsl(0, 63%, 75%);
  --clr-nav-timer:  hsl(209, 35%, 57%);
  --clr-nav-friends: hsl(225, 37%, 44%);
  --clr-nav-family:  hsl(55, 33%, 61%);


  /*background colours for each page*/
  --clr-friends-page: #69d3df;
  --clr-family-page: #fff9c3;
  --clr-jayde-page: #ff7070;
  --clr-jayde-page: #a38d5f;
  --clr-timer-page: hsl(211, 39%, 23%);

  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(0, 100%, 81%);
  --clr-red-light: hsl(0, 58%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-custom-bg);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

b {
  text-decoration: none;
  color: var(--clr-title);
  font-size: 1.5rem;
  text-shadow: var(--clr-title-shadow);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-nav-top);
  box-shadow: var(--dark-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-10);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-grey-1);
  transform: rotate(90deg);
}
.links a {
  color: var(--clr-grey-1);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.4rem 1.2rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-1);
  color: var(--clr-custom-bg);
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 12rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }

  

  /*------All following are for test purposes--------*/

  .gallery img {
    margin: 10px;
    cursor: pointer;
    width: 300px;
    /*width: 50%;
    height: 50%;*/
    border-radius: 10px;
    overflow: hidden;
    object-fit: fill;
}

/* Lightbox styles */
#lightbox {
    display: none;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
#lightbox img {
    max-width: 80%;
    max-height: 60vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    
}
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #fdd;
    cursor: pointer;
    z-index: 2;
}
#close-btn:hover {
  color: rgba(231, 151, 151, 1);
}

/* Style for navigation buttons */
#prev-btn,
#next-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--clr-title);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8%;
}
#prev-btn {
    left: 10px;
}
#next-btn {
    right: 10px;
}
#prev-btn:hover,
#next-btn:hover {
    background-color: var(--clr-nav-button-hover);
    
}

/* Styles for thumbnails */
.thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.thumbnail {
    max-width: 50px;
    width: 100px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #fff;
    transition: opacity 0.3s;
}

.thumbnail:hover,
.thumbnail.active-thumbnail {
    opacity: 0.7;
}
}

/*
=============== 
Countdown Timer
===============
*/
.gift-img {
  margin-bottom: 2rem;
}
.gift-info h3 {
  text-transform: uppercase;
  color: var(--clr-primary-3);
}
.gift-info p {
  color: var(--clr-grey-6);
}
.date {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
}

@media screen and (max-width: 768px) {
.gallery img {
  margin: 5px;
  cursor: pointer;
  max-width: 165px;
  width: 50%;
  height: 50%;
  border-radius: 8px;
}

/* Lightbox styles */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
#lightbox img {
  max-width: 85vw;
  max-height: 65vh;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  
}
#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #fdd;
  cursor: pointer;
  z-index: 2;
}
#close-btn:hover {
color: rgba(231, 151, 151, 1);
}

/* Style for navigation buttons */
#prev-btn,
#next-btn {
  display: none;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: var(--clr-title);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8%;
}
#prev-btn {
  left: 10px;
}
#next-btn {
  right: 10px;
}
#prev-btn:hover,
#next-btn:hover {
  background-color: var(--clr-nav-button-hover);
  
}
/* Styles for thumbnails */
.thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.thumbnail {
  
  width: 50px;
  
  cursor: pointer;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
  border: 2px solid #cecece;
  transition: opacity 0.3s;
}

.thumbnail:hover,
.thumbnail.active-thumbnail {
  opacity: 0.7;
}
}

